* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(#fae1d2, rgba(159, 165, 255, 0.7));
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  height: 100vh;
}

header {
  position: relative;
  top: 8vh;
  left: 0;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 3em;
  z-index: 1;
  background-color: #058f11;
  background: url(../images/25896-full-size-natur-hintergrundbider-1920x1080.jpg);
  background-position: bottom;
}
nav ul {
  list-style-type: none;
  display: flex;
  margin: 0;
}
nav li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 40px;
  margin: 2px 0;
  background: rgba(114, 196, 243, 0);
  transition: font-size 300ms, background 500ms;
}
nav li:hover {
  background: rgba(149, 216, 255, 0.5);
  font-size: large;
}

.menu {
  display: block;
  list-style: none;
}
.menu:hover .hovermenu {
  opacity: 0.95;
}

.hovermenu {
  display: block;
  background-color: #f1f1f1;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 400ms ease-in;
}
.hovermenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.hovermenu a:hover {
  background-color: #995151;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: #058f11;
  background: url(../images/25896-full-size-natur-hintergrundbider-1920x1080.jpg);
  background-position: top;
}

a {
  text-decoration: none;
}
a:hover {
  color: #88b323;
}

a:link {
  color: #88b323;
}

a:visited {
  color: #058f11;
}

a:hover {
  color: #15bfdd;
}

a:active {
  color: #B300B3;
  text-decoration: underline;
}

.gridcontainer {
  width: 1330px;
  height: 1330px;
  gap: 70px;
}

@media screen and (max-width: 1440px) {
  body {
    background-color: darksalmon;
  }

  .gridcontainer {
    width: 950px;
    height: 950px;
    gap: 50px;
  }
}
@media screen and (max-width: 1080px) {
  body {
    background-color: deepskyblue;
  }

  .gridcontainer {
    width: 570px;
    height: 570px;
    gap: 30px;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: lightgreen;
  }

  .gridcontainer {
    width: 380px;
    height: 380px;
    gap: 20px;
  }
}
.gridcontainer {
  position: relative;
  top: 150px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(8, 1fr)/repeat(8, 1fr);
}

.griditem {
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00ff0d;
  font-weight: bolder;
  font-size: x-large;
}

/* Picture Galerie dimensions and positiones */
.giall {
  background-size: cover;
  grid-area: span 2/span 2;
}
.giall p {
  opacity: 0.1;
  transition: opacity 800ms ease;
}
.giall:hover p {
  opacity: 1;
}

.no1, .no5, .no6 {
  grid-area: span 2/span 4;
}

.no2 {
  grid-area: span 4/span 4;
}

/* linked Pictures */
.no1 {
  background-image: url(../images/25881-natur-hintergrundbider-1920x1080-fuer-android-40.jpg);
}

.no2 {
  background-image: url(../images/25883-natur-hintergrundbider-1920x1200-mobile.jpg);
}

.no3 {
  background-image: url(../images/25932-natur-hintergrundbider-1920x1200-picture.jpg);
}

.no4 {
  background-image: url(../images/25896-full-size-natur-hintergrundbider-1920x1080.jpg);
}

.no5 {
  background-image: url(../images/25927-tolle-natur-hintergrundbider-1920x1080-ipad-retina.jpg);
}

.no6 {
  background-image: url(../images/25884-natur-hintergrundbider-1920x1200-fuer-meizu.jpg);
}/*# sourceMappingURL=main.css.map */