$background-image: linear-gradient(
    rgb(250, 225, 210), 
    rgba(159, 165, 255, 0.7));
$font-family: Arial, Helvetica, sans-serif;

$album-small: 380px;
$album-medium: $album-small*1.5;
$album-large: $album-small*2.5;
$album-xlarge: $album-small*3.5;

$screen-small: 600px;
$screen-medium: 1080px;
$screen-large: 1440px;


$color1: #88b323;
$color2: #058f11;
$color3: #15bfdd;
$color4: #B300B3;